body{
	background-color: #F8FDFE;
	margin: 0;
  	padding: 0;
}

div#menu {
	width: 100%;
	height: 50px;
	background-color: #ffffff;
}

div.dropdown {
	position: relative;
    display: inline-block;
    text-align: center;
}

a {
	text-decoration: none;
	color: #2980b9;
}

a:visited {
	color: #c0392b;
}

ul {
	list-style: none;
}
div.cityname{
	font-size: 12pt;
	font-family: 'Barlow Semi Condensed', sans-serif;
	text-align: center;	
	text-transform: capitalize;
	display: none;
    position: relative;
    background-color: #ffffff;
    min-width: 100px;
    padding: 12px 16px;
} 

.dropdown:hover .cityname {
    display: inline-block;
    text-align: center;
}

div#introduction {
	background-color: #2980b9;
    margin-bottom: 5%;
    margin-top: -32px;
}

p, h2, h4 {
	font-family: 'Barlow Semi Condensed', sans-serif;
}

li {
	font-family: 'Barlow Semi Condensed', sans-serif;
}

p#introduction {
	font-size: 20pt;
	padding: 5%;
	text-align: center;
	color: #ffffff;
}

p.dataVari {
	font-size: 12pt;
	font-family: 'Barlow Semi Condensed', sans-serif;
	text-transform: capitalize;
	font-weight: bold;
}

div#datasets {
	margin: auto;
	padding: 0 7% 2% 7%;
	display: flex;
    justify-content: center;
}

div.button {
	float: left;
	text-align: center;
	margin: 1%;
	width: 15%;
	border: 2px solid #2980b9;
	border-radius: 5px;
}
div.divChart {
	width: 100%;
	float: left;
}
div.chart {
	width: 53%;
	margin: auto;
}

p#instructions {
	text-align: center;
	color: #2980b9;
}
footer {
	background-color: #000000;
	position: relative;
    bottom: 0;
	height: 50px;
	width: 100%;
	overflow: hidden;
}

footer p {
	color: #F8FDFE;
	text-align: center;
}